.cont-dash {
  width: 100vw;
  height: 100vh;
  padding: 0%;
  margin: 0%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}

.middle-dash {
  width: 55vw;
  height: 100vh;
  padding-left: 1%;
  padding-right: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  /* border: 2px solid green; */
}

.middle-top {
  width: 100%;
  height: 27%;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  padding: 0.5%;
  padding-top: 2%;
}

.banner {
  max-width: 100%;
  height: auto;
}

.middle-mid {
  width: 100%;
  height: 38%;
  /* border: 2px solid yellow; */
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 0.5%;
  background: #181818;
  border-radius: 32px;
}

.middle-bot {
  width: 100%;
  height: 35vh;
  /* border: 2px solid orange; */
  padding: 0.5%;
  margin-bottom: 2%;
}

.right-bottom {
  float: right;
  width: 48%;
  background: #181818;
  border-radius: 8%;
  height: 100%;
}
.left-bottom {
  float: left;
  width: 48%;
  background: #181818;
  border-radius: 8%;
  height: 100%;
}
.right-dash {
  width: 20vw;
  height: 100vh;
  padding-left: 1%;
  padding-right: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
  /* border: 2px solid red; */
}

.notif-main {
  background: #181818;
  border-radius: 32px;
  height: 95%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  overflow: hidden;
}
.notif {
  font-weight: 600;
  font-size: 21px;
  line-height: 31px;
}

.notif-text {
  width: 100%;
  height: auto;
  border-bottom: 0.5px solid #202020;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  box-sizing: border-box;

  color: #ffffff;
}

.notif-text span {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #5f2eea;
}

.title {
  font-family: Poppins;
  font-size: 22px;
  color: #ffffff;
  margin-left: 5%;
  margin-top: 1%;
  margin-bottom: 0;
}

.bottom-card {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  width: 100%;
}
.bottom-card p {
  padding-top: 4%;
}
.event-icon {
  height: 60px;
  width: 60px;
  margin: 2%;
}

.details {
  padding-top: 3%;
}
.details p {
  margin: 0;
}

.middle-card {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-left: 5%;
}
.middle-card p {
  font-size: 12px;
}
.upcoming-icon {
  width: 80px;
  height: 80px;
  margin: 2%;
}
.row {
  display: flex;
  flex-direction: row;
}
