.modal {
  width: 482px;
  height: 351px;
  background: #181818;
  border-radius: 32px;
  padding: 2%;
}
.modal-content {
  display: flex;
  flex-direction: row;
}
.modal-left {
  margin-right: 2%;
  margin-left: 2%;
}
.modal-event {
  font-family: Poppins;
  font-style: normal;
  font-size: 32px;
  letter-spacing: 1.14821px;
  color: #f7f7fc;
  margin-top: 2%;
  margin-bottom: 2%;
}
p {
  color: #f7f7fc;
}
.edit-event {
  background: #5f2eea;
  border-radius: 10px;
  border: none;
  width: 200px;
  height: 32px;
  color: #f7f7fc;
  /* margin-top: 20%; */
}
.likes-views,
.likes,
.views {
  display: flex;
  flex-direction: row;
  margin-right: 3%;
}
.modal-right {
  margin-top: 3%;
  padding: 1%;
}
.modal-cross {
  margin-left: 2%;
}
.detail-padded {
}
